/.phpunit.cache
/app/Controllers
/framework
/node_modules
/public/admin
/public/member
/public/mobile
/public/storage
/runtime/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
*.lock
*.log
/.fleet
/.idea
/.vscode
