@font-face {
  font-family: "iconfont"; /* Project id 2627952 */
  src: url('font_2627952_8gysn4vlf75.woff2?t=1630303865525') format('woff2'),
       url('font_2627952_8gysn4vlf75.woff?t=1630303865525') format('woff'),
       url('font_2627952_8gysn4vlf75.ttf?t=1630303865525') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete-bin-4-line:before {
  content: "\e84e";
}

.icon-time-line:before {
  content: "\e87b";
}

.icon-fire-fill:before {
  content: "\e897";
}

.icon-ico-h3-sort-02:before {
  content: "\e65b";
}

.icon-ico-h3-sort-01:before {
  content: "\e65c";
}

.icon-add-fill:before {
  content: "\e839";
}

.icon-arrow-down-s-line:before {
  content: "\e83d";
}

.icon-arrow-left-s-line:before {
  content: "\e842";
}

.icon-arrow-right-s-line:before {
  content: "\e844";
}

.icon-close-line:before {
  content: "\e84a";
}

.icon-arrow-up-s-line:before {
  content: "\e857";
}

.icon-dongdong:before {
  content: "\e62b";
}

.icon-ico-h2-arrow-down:before {
  content: "\e636";
}

.icon-ico-h2-arrow-up:before {
  content: "\e637";
}

.icon-ico-h2-cart:before {
  content: "\e638";
}

.icon-ico-h2-close:before {
  content: "\e639";
}

.icon-ico-h2-list:before {
  content: "\e63a";
}

.icon-ico-h2-order:before {
  content: "\e63b";
}

.icon-ico-h2-communicate:before {
  content: "\e63c";
}

.icon-ico-h2-person_add:before {
  content: "\e63d";
}

.icon-ico-h2-person:before {
  content: "\e63e";
}

.icon-ico-h2-coupon:before {
  content: "\e63f";
}

.icon-ico-h2-qr:before {
  content: "\e640";
}

.icon-ico-h2-phone:before {
  content: "\e641";
}

.icon-ico-h2-consult:before {
  content: "\e642";
}

.icon-ico-h2-time:before {
  content: "\e643";
}

.icon-ico-h3-arrow-left:before {
  content: "\e644";
}

.icon-ico-h3-add:before {
  content: "\e645";
}

.icon-ico-h3-close:before {
  content: "\e646";
}

.icon-ico-h3-arrow-right:before {
  content: "\e647";
}

.icon-ico-h2-star:before {
  content: "\e648";
}

.icon-ico-h4-add:before {
  content: "\e649";
}

.icon-ico-h3-subtract:before {
  content: "\e64a";
}

.icon-ico-h3-arrow-down:before {
  content: "\e64b";
}

.icon-ico-h4-arrow-drop-left:before {
  content: "\e64c";
}

.icon-ico-h3-search:before {
  content: "\e64d";
}

.icon-ico-h3-sort-down:before {
  content: "\e64e";
}

.icon-ico-h4-arrow-down:before {
  content: "\e64f";
}

.icon-ico-h4-arrow-left:before {
  content: "\e650";
}

.icon-ico-h4-arrow-drop-right:before {
  content: "\e651";
}

.icon-ico-h3-arrow-up:before {
  content: "\e652";
}

.icon-ico-h3-sort-up:before {
  content: "\e653";
}

.icon-ico-h4-arrow-up:before {
  content: "\e654";
}

.icon-ico-h4-arrow-right:before {
  content: "\e655";
}

.icon-ico-h4-close:before {
  content: "\e656";
}

.icon-ico-h4-arrow-drop-down:before {
  content: "\e657";
}

.icon-ico-h4-subtract:before {
  content: "\e658";
}

.icon-ico-h4-arrow-drop-up:before {
  content: "\e659";
}

.icon-ico-h2-search:before {
  content: "\e65a";
}

.icon-ico-log-passcode:before {
  content: "\e633";
}

.icon-ico-log-user:before {
  content: "\e634";
}

