.m-bottom {
    background: #2e323f;
    font-size: 12px
}

.m-bottom, .m-bottom a, .m-bottom p, .m-bottom span {
    color: #666
}

.m-bottom a:hover {
    color: #999;
    text-decoration: underline
}

.m-bottom .footer-feature {
    padding: 23px 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, .07);
    text-align: center
}

.m-bottom .footer-feature .feature-item {
    display: inline-block;
    width: 290px;
    vertical-align: top
}

.m-bottom .footer-feature .feature-item .icon {
    width: 290px;
    height: 95px
}

.m-bottom .footer-feature .feature-item + .m-bottom .footer-feature .feature-item {
    margin-left: 10px
}

.m-bottom .bottom-info {
    margin: 32px 0 1px;
    text-align: center;
    line-height: 38px;
    vertical-align: center
}

.m-bottom .bottom-info a {
    margin-left: 5px
}

.m-bottom .bottom-netsafe {
    margin: 0;
    text-align: center;
    line-height: 38px;
    vertical-align: center
}

.m-bottom .bottom-netsafe a {
    margin-left: 5px
}

.m-bottom .bottom-flinks {
    line-height: 20px;
    margin-top: 13px
}

.m-bottom .bottom-flinks .flinks-title {
    float: left;
    margin-right: 10px
}

.m-bottom .bottom-flinks .flinks-list {
    overflow: hidden
}

.m-bottom .bottom-flinks .flinks-list a {
    margin-right: 5px;
    margin-bottom: 5px
}

.m-bottom .bottom-cert {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center
}

.m-bottom .bottom-cert a {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle
}

.m-bottom .bottom-cert img {
    max-height: 60px
}
