.m-login-header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    font-size: 0
}

.m-login-header .m-header-content {
    height: 100px;
    border-collapse: collapse
}

.m-login-header .m-header-content .header-item {
    display: inline-block;
    vertical-align: top
}

.m-login-header .m-header-content .header-item img {
    height: 50px;
    margin: 25px 30px 0 10px
}

.m-login-header .m-header-content .header-item.theme {
    height: 30px;
    text-align: right;
    font-size: 24px;
    color: #222;
    margin: 35px 0
}

.m-login-header .m-header-content .login-header-right {
    float: right;
    margin: 35px 0
}

.m-login-header .m-header-content .login-header-right a {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    height: 30px;
    line-height: 28px;
    padding-left: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ed2920;
    color: #ed2920;
    font-size: 14px;
    background: url(../img/login/message@2x.png) no-repeat 15px 6px;
    background-size: 16px
}

.m-login-header .m-header-content .login-header-right img {
    display: inline-block;
    vertical-align: top;
    width: 197px;
    height: 30px;
    margin-left: 40px
}

.m-login-contain {
    height: 680px;
    margin: 0 auto;
    background: url(../img/login/business_new_bg@2x.png) no-repeat 50%
}

.m-login-contain.business {
    background: url(../img/login/login_bg.jpg) no-repeat 50%
}

.m-login-panel {
    overflow: hidden;
    float: right;
    margin-top: 140px;
    padding: 30px 25px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    width: 300px;
    min-height: 340px;
    box-shadow: 0 10px 12px 0 rgba(156, 0, 19, .15)
}

.m-login-panel .qr-code {
    position: absolute;
    right: 0;
    top: 0;
    width: 96px;
    height: 96px;
    background: url(../img/login/qr-code@2x.png) no-repeat 50%;
    background-size: 64px;
    cursor: pointer
}

.m-login-panel .qr-code.pc-login {
    background: url(../img/login/pc-login@2x.png) no-repeat 50%;
    background-size: 64px
}

.m-login-panel .qr-tip {
    position: absolute;
    right: 88px;
    top: 24px;
    width: 112px;
    height: 28px;
    background: url(../img/login/tip@2x.png) no-repeat 50%;
    background-size: 112px;
    line-height: 28px;
    font-size: 12px;
    font-weight: 400;
    color: #fa210a;
    padding-left: 10px;
    box-sizing: border-box
}

.m-login-panel .header {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 18px;
    color: #262626;
    font-weight: 400
}

.m-login-panel .header em {
    font-style: normal
}

.m-login-panel .header .line {
    display: inline-block;
    height: 20px;
    width: 1px;
    background: #f5f5f5;
    margin: 0 20px;
    vertical-align: middle
}

.m-login-panel .header .J_ht {
    cursor: pointer
}

.m-login-panel .header .active {
    font-weight: 700;
    color: #ed2920
}

.m-login-panel .header .changeRegType {
    display: none;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    float: right;
    border-radius: 20px;
    padding: 0 12px 0 40px;
    background: #f5f5f5 url(../img/login/switch@2x.png) no-repeat 17px;
    background-size: 20px;
    margin-right: 15px
}

.m-login-panel .header .changeRegType:hover {
    background: #d2d2d2 url(../img/login/switch@2x.png) no-repeat 17px;
    background-size: 20px;
    color: #222
}

.m-login-panel .bottom-tip {
    position: absolute;
    width: 310px;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    color: #898989
}

.m-login-panel .bottom-tip .upgrade {
    color: #0084ff
}

.bmall {
    min-height: unset
}

.bmall .bottom-tip, .bmall .qr-code, .bmall .qr-tip {
    display: none
}

.bmall .header {
    padding-top: 0;
    padding-bottom: 30px
}

.bmall .header .line, .bmall .header [data-cname=J_personUrl] {
    display: none
}

.iframe-wrap {
    position: relative;
    height: 200px
}

.iframe-wrap .register {
    font-family: Arial, 宋体, Lucida, Verdana, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #999;
    display: none
}

.iframe-wrap .register:link, .iframe-wrap .register:visited {
    text-decoration: none
}

.iframe-wrap .register:hover {
    text-decoration: underline
}

.scan-wrap {
    width: 160px;
    margin: 0 auto
}

.scan-wrap .scan-code {
    position: relative;
    margin-bottom: 10px
}

.scan-wrap .scan-code img {
    width: 160px;
    height: 160px
}

.scan-wrap .scan-code .out-time {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 160px;
    background: rgba(0, 0, 0, .45);
    text-align: center
}

.scan-wrap .scan-code .out-time p {
    margin-top: 59px;
    font-size: 14px;
    font-weight: 600;
    color: #fff
}

.scan-wrap .scan-code .out-time .refresh {
    margin: 8px auto 0;
    width: 84px;
    height: 24px;
    background: #ed2920;
    border-radius: 2px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    cursor: pointer
}

.scan-wrap .scan-tip {
    height: 48px;
    width: 176px;
    margin-left: -6px
}

.scan-wrap .scan-tip .stp {
    margin-left: 8px;
    display: inline-block;
    width: 110px;
    vertical-align: middle;
    font-size: 14px
}

.scan-success {
    padding-top: 26px;
    text-align: center
}

.scan-success .success-icon {
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background: url(../img/login/alert_done@2x.png) no-repeat 50%;
    background-size: 72px
}

.scan-success .st1 {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #262626
}

.scan-success .st2 {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #898989
}

.bottom-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 52px;
    line-height: 52px;
    background: #fcfcfc;
    border-top: 1px solid rgba(0, 0, 0, .06);
    text-align: center
}

.bottom-btn .vbtn {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #262626
}

.m-login-iframe {
    position: relative;
    margin-left: -25px;
    width: 350px;
    display: none
}

.m-login-iframe.active {
    display: block
}

.m-footer {
    margin-top: 0
}
