.m-menu {
    z-index: 99;
    height: 40px;
    border-bottom: 2px solid #ed2920;
    background-color: #fff
}

.m-menu, .m-menu .menu-wrap {
    position: relative
}

.m-menu .menu-wrap .menu-categories {
    float: left;
    width: 230px;
    height: 40px;
    line-height: 40px;
    background: #ed2920 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAHlJREFUWAntlUEOwCAIBNX//7nVm92Ei5soNsMJCQgMhy0FgwAE7iZQdfynm8bGu3ab41HenLPia5+28snOGgbcSZteEIAABP5I4KOvY8FIY1UjozwXkvZB6lyi6Qm6C1IPAQhA4HYCaLF7wfRSl35A9wLUQwACpwm8pxkYFhFhozkAAAAASUVORK5CYII=) no-repeat 14px;
    background-size: 20px;
    text-indent: 48px;
    font-size: 18px;
    color: #fff
}

.m-menu .menu-wrap .menu-categories:hover {
    text-decoration: none;
    background-color: #fa210a
}

.m-menu .menu-wrap .menu-list {
    height: 40px;
    overflow: hidden
}

.m-menu .menu-wrap .menu-list li {
    float: left;
    margin-left: 40px
}

.m-menu .menu-wrap .menu-list li .item {
    display: block;
    position: relative;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
    z-index: 100;
    color: #000
}

.m-menu .menu-wrap .menu-list li .item.active, .m-menu .menu-wrap .menu-list li .item:hover {
    color: #ed2920
}

.m-menu .menu-wrap .menu-list li .item img {
    display: inline-block;
    vertical-align: middle
}

.m-menu .menu-wrap .menu-list li .item img.title {
    height: 20px
}

.m-menu .menu-wrap .menu-list li .item img.tag {
    height: 16px;
    margin-top: -5px
}

.m-menu .menu-wrap .categories-container {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 99;
    height: 460px
}

.m-menu .menu-wrap .categories-container.hide {
    display: none
}

.m-menu.hasShadow .categories-container {
    -webkit-box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, .3);
    box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, .3)
}

.m-categories-list {
    width: 230px;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.m-categories-list .categories-item {
    background-color: transparent;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.m-categories-list .categories-item .category-title {
    font-size: 0;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.m-categories-list .categories-item .category-title .category-icon {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin-right: 10px
}

.m-categories-list .categories-item .category-title .category-icon.category-icon-black {
    display: none
}

.m-categories-list .categories-item .category-title a {
    color: rgba(0, 0, 0, .85)
}

.m-categories-list .categories-item .category-title a:hover {
    color: #ed2920
}

.m-categories-list .categories-item .category-title div {
    color: #fff
}

.m-categories-list .categories-item .category-title .title {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: rgba(0, 0, 0, .85)
}

.m-categories-list .categories-item .category-title .title:hover {
    color: #222
}

.m-categories-list .categories-item .category-title .hots {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.m-categories-list .categories-item .category-title .hots a {
    margin-right: 8px;
    font-size: 12px
}

.m-categories-list .categories-item .category-title:hover {
    background: #f4f4f4
}

.m-categories-list .categories-item .category-body {
    display: none;
    position: absolute;
    left: 230px;
    top: 0;
    height: auto;
    width: 960px;
    padding: 10px 0 20px;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .08);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05)
}

.m-categories-list .categories-item:last-child .category-title {
    border-bottom: none
}

.m-categories-list .categories-item.inpreparation {
    position: relative
}

.m-categories-list .categories-item.inpreparation:before {
    content: "\4EA7\54C1\4E0A\67B6\4E2D\FF0C\656C\8BF7\671F\5F85";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    height: 56px;
    line-height: 56px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
    font-size: 14px;
    color: #fff
}

.m-categories-list .categories-item.trigger:hover {
    background: #fff
}

.m-categories-list .categories-item.trigger:hover .category-title a {
    color: #222
}

.m-categories-list .categories-item.trigger:hover .category-title a:hover {
    color: #ed2920
}

.m-categories-list .categories-item.trigger:hover .category-title div, .m-categories-list .categories-item.trigger:hover .category-title span {
    color: #222
}

.m-categories-list .categories-item.trigger:hover .category-body {
    display: block
}

.m-categories-list .categories-item.trigger:hover .category-icon.category-icon-white {
    display: none
}

.m-categories-list .categories-item.trigger:hover .category-icon.category-icon-black {
    display: inline-block
}

.m-category-brands {
    float: right;
    width: 250px;
    height: 428px;
    padding: 0 10px;
    overflow: hidden
}

.m-category-brands .brands-list {
    padding-top: 10px;
    overflow: hidden
}

.m-category-brands .brands-list .item {
    float: left;
    width: 110px;
    height: 46px;
    margin-right: 5px;
    margin-bottom: 10px;
    -webkit-transition: .2s;
    transition: .2s
}

.m-category-brands .brands-list .item img {
    display: block;
    width: 100%;
    height: 100%
}

.m-category-brands .brands-list .item:hover {
    opacity: .8
}

.m-category-brands .brands-advertising {
    width: 230px;
    height: 100px;
    background: #10f;
    border-radius: 4px;
    margin: 10px auto 0;
    display: block
}

.m-category-brands .brands-advertising img {
    width: 100%;
    height: 100%
}

.m-category-children {
    overflow: hidden;
    width: 705px;
    height: 428px
}

.m-category-children .subcategory-list {
    height: 100%;
    overflow: auto
}

.m-category-children .subcategory-list .subcategory-item {
    margin: 0 5px 0 20px;
    font-size: 12px
}

.m-category-children .subcategory-list .subcategory-item .first-cate-name {
    padding: 10px 0 5px;
    line-height: 16px;
    font-size: 14px;
    color: #ed2920;
    font-weight: 700
}

.m-category-children .subcategory-list .subcategory-item .secCate-item {
    display: table
}

.m-category-children .subcategory-list .subcategory-item .item-title {
    display: table-cell;
    width: 86px;
    margin-right: 25px;
    line-height: 26px;
    padding: 5px 11px 5px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, .85);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAX0lEQVQ4y2P4//8/IzpmYGBgwiaOVS0WzaxAPA2Ic8k1wAyIrwPxTWIMYcDhBW9iDWHAKUGkIQx4TSfCEAaCfiRgCANRIY3HENobQJEXKApEiqKRooREcVKmODORmp0BY+Z1WYIoPoMAAAAASUVORK5CYII=) no-repeat right top 13px;
    background-size: 8px;
    vertical-align: top
}

.m-category-children .subcategory-list .subcategory-item .item-title:hover {
    color: #ed2920
}

.m-category-children .subcategory-list .subcategory-item .item-list {
    display: table-cell;
    border-bottom: 1px dotted rgba(0, 0, 0, .07);
    width: 554px;
    overflow: hidden;
    padding: 5px 0;
    font-size: 12px;
    line-height: 26px;
    margin-left: 30px;
    vertical-align: middle
}

.m-category-children .subcategory-list .subcategory-item .item-list a {
    display: inline-block;
    margin-right: 15px;
    color: rgba(0, 0, 0, .85)
}

.m-category-children .subcategory-list .subcategory-item .item-list a:hover {
    color: #ed2920
}

.m-category-children ::-webkit-scrollbar {
    width: 4px;
    height: 4px
}
